@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
            <span class="nav-link text-dark">Hello, @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="nav-link p-0 m-0 border-0 bg-transparent">
                <button type="submit" class="btn btn-link text-dark p-0 m-0 align-baseline">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}